/*about.html section*/

a[href="about.html"] {
    border-bottom: 0.02rem solid #ccc;
}

.about {
    background-image: none;
    background-color: slategray;
    font-family: "IBM Plex Sans", sans-serif;
}

#about {
    display: block;
    text-align: center;
}

.trivia {
    text-align: center;
}

.list {
    margin: 0.5rem;
}

h2 {
    font-size: 3.2rem;
    margin-top: 10rem;
    margin-bottom: 0rem;
}


#popin-onscroll {
    opacity: 0;
}

.about-blurb {
    font-size: 1.2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}


#about-desc {
    margin-top: 0rem;
    max-width: 60rem;
    text-align: left;
}

#about-bullet {
    max-width: 30rem;
    text-align: left;
}

#popup-list {
    opacity: 0;
}


#popup-list.is-active {
    opacity: 1;
    transition: all ease 0.75s;
}
