:root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  cursor: default;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left right right ";
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background: #61cc9e;
  grid-area: left;
  position: relative;
  overflow: hidden;
}

.sidebar::before {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  background-image: var(--bgimage);
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  transform: translateX(-15em) scale(1.03);
}

.sidebar-inside {
  position: relative;
}

.main-content {
  background: #ffffff;
  grid-area: right;

  /* this is the subgrid holding all the stuff in the section marked button */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 4em;
}

.footer {
  background: #54a3ff;
  grid-area: bottom;
}

/* BUTTON */
/* manages all the content around the buttons nested within main content */
button {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 0.5em 0 black;
}

#comics {
  background: #000;
}

#dev {
  background: #000;
}

#editing {
  background: #000;
}

/*/////////////////////////////////////////////////////////////////// */

/* Profile Image Management */

h2 {
  font-family: 'Bungee Outline', cursive;
  font-size: 5em;
  margin: 0;
  color: whitesmoke;
  overflow: hidden;
  line-height: 1.4em;

}

.flip_H {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}

/* If you want the content centered horizontally and vertically */
.centered {
  display: grid;
  place-items: center;
  transform: translateY(12em);
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 26vh;
  border-radius: 50%;
  margin-bottom: 2em;
}

.socials {
  align-items: center;
  list-style-type: none;
}

.socials a {
  text-decoration: none;
  letter-spacing: 0.5em;
  font-size: 2.3em;
  color: white;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: white;
}

/*/////////////////////////////////////////////////////////////////// */

/* Media Queries for responsiveness*/

@media all and (max-width: 700px) {
  .sidebar,
  .main-content {
    grid-column: 1 / span 2;
  }

}