a[href="projects.html"] {
    border-bottom: 0.02rem solid #ccc;
}

.projects {
    background-image: none;
    background-color: #111137;
    font-family: "IBM Plex Sans", sans-serif;
}

#projects {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.projects-showcase {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.projects-showcase>h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 3rem
}

.projects-showcase>p {
    margin-top: 0rem;
    text-align: center;
    font-size: 1.1rem;
}

 .column {
    display: flex;
    justify-content: center;
    transition: 0.3s box-shadow;
} 

.column:hover {
    cursor: pointer;
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.2);
}

#text {
    color: white;
    font-size: 2.6rem;
    font-weight: 420;
}

/*Handles Background Images*/
#webcomicshub{
    background-image: url("https://dummyimage.com/1920x1080/636363/0011ff.png&text=Placeholder");
    padding: 0.6rem;
    padding-bottom: 1.5rem;
    background-size: contain;
    width: 22rem;
    height: 13rem;
    margin: auto;
}

#spacemannfinn{
    background-image: url("https://dummyimage.com/1920x1080/636363/0011ff.png&text=Placeholder");
    padding: 0.6rem;
    padding-bottom: 1.5rem;
    background-size: contain;
    width: 22rem;
    height: 13rem;
    margin: auto;
}

#comics{
    background-image: url("https://dummyimage.com/1920x1080/636363/0011ff.png&text=Placeholder");
    padding: 0.6rem;
    padding-bottom: 1.5rem;
    background-size: contain;
    width: 22rem;
    height: 13rem;
    margin: auto;
}

#music{
    background-image: url("https://dummyimage.com/1920x1080/636363/0011ff.png&text=Placeholder");
    padding: 0.6rem;
    padding-bottom: 1.5rem;
    background-size: contain;
    width: 22rem;
    height: 13rem;
    margin: 0 auto;
}


@media screen and (max-width: 500px) {
    :root {
        font-size: 11px;
    }

    .column {
        width: 100%;
    }

    #text {
        transform: translate(44.5%, -490%);
        -ms-transform: translate(44.5%, -490%);
    }

    img {
        width: 28rem;
        height: 20rem;
        transform: translateX(5.2rem);
    }
}